.sprite{
    width: 54px; height: 54px;
    background-image: url('./img/css_sprites.png');
}

.blog {
     background-position:  -10px -10px;
}


.mail {
     background-position:  -94px -10px;
}


.home {
     background-position:  -10px -94px;
}


.info {
     background-position: -94px -94px;
}


.work {
     background-position: -178px -10px;
}