.image-card{
    height: 90px;
    &--big-card{
      height: 140px;
    }
    &--video-card{
      display: block;
      background-size: cover;
      width: 138px;
      margin-right: 10px;
    }
  } 
  