.team-card{
    &__header{
        color: #6e6d6b;
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__position{
        color: #fcb544;
    }
    &__image{
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #fcb544;
       padding: 50%;
       background-image: url('/img/straus.jpg');
       background-position: 50%;
       background-size: cover;
    }
}

.team-card p{
    font-size: 14px;
    text-align: justify;
    padding: 5px;
   }