.team-card{
    &__header{
        color: #6e6d6b;
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__position{
        color: #fcb544;
    }
    &__image{
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #fcb544;
        img{
           max-width: 100%;
           max-height: 100%;
        }
    }
}