.article p {
    color: rgb(26, 9, 9);
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    padding: 5px;
}
.article .read-more {
    color: #fb9c06;
    text-decoration: none;
    font-style: italic;
    text-transform: lowercase;
    display: block;
    text-align: right;
    font-size: medium;
}
