@import "./partials/article/article.scss";
body * {
  outline: 1px solid lightgrey;
}

.house, .room, .archmove, .website, .project, .footer, .banner {
  max-width: 1440px;
  border: 1px solid black;
}


.header{
  height: 96px;
}


.house{
  height: 847px;
}


.room{
  height: 720px;
}


.archmove{
  height: 898px;
}


.website{
  height: 588px;
}


.project{
  height: 812px;
}


.banner{
  height: 343px;
}


.footer{
  height: 208px;
}


.archmove__three-columns {
width:400px;
display: grid;
grid-template-columns: 0.5fr 1.5fr;
grid-template-rows: 1fr 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
}

