@import "./partials/article/article.scss";
@import "./partials/team-card/team-card.scss";
@import "./partials/sprites.scss";
@import "./partials/menu-item/menu-item.scss";

body{
  margin: 0;
}

body * {
  outline: 1px solid lightgrey;
}

.container{
 max-width: 1200px;
 margin: 0 auto; 
 color: lightgray;
 font-size: 35px;
 text-align: center;
 margin-top: 5px ;
}

.container.clearfix{
  height: 120px;
}

.container.footer{
  height: 120px;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

footer{
  background-color: #fb9c06;
  max-width: 1200px;
  margin: 0 auto;
}

.four-columns{
  display: flex;
  margin: 0;
}

.four-columns__item{
  width: 25%;
  text-align: justify;
}

.header{
padding: 40px 0 15px 0;
font-size: 40px;
color: #fb9c06;
text-align:center;
text-decoration: underline;
}

.header.dots:after{
content: "...";
display:inline-block;
text-decoration: underline;
}

.three-columns{
  display: flex;
  flex-wrap: wrap; 
}

.three-columns__item{
  width:33.3%;
  padding: 0 50px;
  box-sizing: border-box;
}

.feedback{
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;
  row-gap: 10px;
  margin-bottom: 65px;

       &__label{
       color: #fb9c06;
       padding-right: 25px;
       }
}

.input-item{
  width: 75%;
  background-color: lightgray;
  height: 15px; 
}

.section{
  position: relative;
}

.button {
	font-size: 14pt;
	color: white;
	background: #fb9c06;
	height: 55px;
	border: 1px solid #F5C4AB;
  position: absolute;
  right: 100px;
  bottom: -58px;
}

.button:hover {
	border: 1px solid white;
  cursor: pointer;
}

div.wrapper_rabbit{
  
  margin-left: 10px;
}

.rabbitmenu{
  max-width:110px;
}

.wrapper_rabbit{
  align-items: center;
  //height: 150px;
  margin-left: 20px;
  float: left;
  clear: fixed;
  justify-content: space-evenly;
}

.text_rabbit{
  margin: 0 40px 5px 5px;
  padding-left: 10px ;
  display: inline-block;
}

.text_rabbit p{
  font-size: 34px;
  margin: 15px 0 0 0;
  text-transform: uppercase;
}

.text_rabbit p:first-child{
  font-size: 19px;
  margin-top: 18px;
  color: #fb9c06;
}

.main-menu{
  float: right;
  display: flex;
  clear: fixed;
}

.banner{
  border-top: 5px solid #fb9c06;
  border-bottom: 5px solid #fb9c06;
  background-image: url('/img/orangebc.jpg');
  background-size: cover;
}

.banner .container{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner_line{
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 25px;
}

.general{
  position: relative;
}

 .first{
  margin: 2px 0 30px 0;
  padding: 10px;
  background-color: bisque;
  color: #fb9c06;
  width: max-content;
}

.second{
  margin: 2px 0 5px 0;
  padding: 10px;
  background-color: #fb9c06;
  color: bisque;
  width: max-content;
}

.copyright{
  font-size: 30px;
  margin: 0 auto;
  padding: 43px;
}

